@typeparam Titem

<div class="mt-3 container-fluid border rounded-start shadow-sm" style="height: 68vh; overflow: scroll;">
    @if (Listado == null)
    {
        <text>Cargando...</text>
    }
    else if (Listado.Count == 0)
    {
     
        <p class="p-3">No hay registros para mostrar</p>
    }
    else
    {
         @HayRegistros
    }
</div>

@code {
    //[Parameter] public RenderFragment Cargando { get; set; }
    //[Parameter] public RenderFragment NoHayRegistros { get; set; }
    [Parameter] public RenderFragment HayRegistros { get; set; }
    [Parameter] public List<Titem> Listado { get; set; }
}
