@page "/productos/configuraciones"
@attribute [Authorize]


<PageTitle>Productos Configuraciones</PageTitle>

<div class="container-fluid border-bottom" style="height: 370px;">
    <AdministrarCategorias />
</div>


@code {
   
}
