@page "/confirmacion-exitosa"

<div class="container mt-5">
    <h2>¡Cuenta activada con éxito!</h2>
    <p>Tu cuenta ha sido activada. Ya puedes iniciar sesión en la aplicación.</p>
    <NavLink class="btn btn-primary mt-3" href="/login">Iniciar Sesión</NavLink>
</div>