@page "/registro-enviado"

<div class="container mt-5">
    <h2>Registro exitoso</h2>
    <p>Hemos enviado un correo electrónico a tu bandeja de entrada. Por favor, revisa tu correo y sigue las instrucciones para activar tu cuenta.</p>
</div>
}
