@page "/restablecer-contraseña"
@inject IManager manager
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes

<h3>Restablecer Contraseña</h3>

<EditForm Model="model" OnValidSubmit="RestablecerContraseña">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label">Nueva Contraseña:</label>
        <InputText type="password" class="form-control" @bind-Value="model.NuevaContraseña" />
        <ValidationMessage For="() => model.NuevaContraseña" />
    </div>

    <div class="mb-3">
        <label class="form-label">Confirmar Contraseña:</label>
        <InputText type="password" class="form-control" @bind-Value="model.ConfirmarContraseña" />
        <ValidationMessage For="() => model.ConfirmarContraseña" />
    </div>

    <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
</EditForm>

@if (mostrarEnlaceParaRecuperarPassword)
{
    <a href="/recuperar-contraseña">Solicita aqui otro correo para recuperar tu contraseña</a>
}

@if (!string.IsNullOrEmpty(mensaje))
{
    <div class="alert alert-info mt-3">
        @mensaje
    </div>
}


@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string Token { get; set; }

    private ResetPasswordModel model = new ResetPasswordModel();
    private string mensaje;
    private bool mostrarEnlaceParaRecuperarPassword = false;

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(Token))
        {
            navigationManager.NavigateTo("/");
        }
    }

    private async Task RestablecerContraseña()
    {
        model.Token = Token;
        var respuesta = await manager.Post<ResetPasswordModel, bool>("api/Recuperacion/RestablecerContraseña", model);

        if (respuesta.Estado == EstadosDeRespuesta.Correcto)
        {
            mensaje = "Tu contraseña ha sido restablecida exitosamente.";
            await mostrarMensajes.MostrarMensajeExitoso(mensaje);
            navigationManager.NavigateTo("/login");
        }
        else if (respuesta.Estado == EstadosDeRespuesta.Error && respuesta.Datos == false)
        {
            mensaje = respuesta.Mensaje;
            await mostrarMensajes.MostrarMensajeError(mensaje);
            mostrarEnlaceParaRecuperarPassword = true;
        }
        else
        {
            mensaje = respuesta.Mensaje;
            await mostrarMensajes.MostrarMensajeError(mensaje);
        }
    }
//Que pasa si dan click a mas de una vez el enlace de restablecer contraseña?
}
