@page "/"


<h1>Hello, world!</h1>

<EditForm Model="usuario" OnValidSubmit="Enviar">
    <DataAnnotationsValidator/>

    <InputText class="form-control" @bind-Value="usuario.Nombre" />
    <ValidationMessage For="(() => usuario.Nombre)"/>


        <button class="btn btn-primary" type="submit">Enviar</button>
</EditForm>


@code{
    Usuario usuario = new Usuario();

    protected async Task Enviar()
    {
        Console.WriteLine("enviado");
    }
}